*{
  margin: 0;
}

.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 4rem;
  background-color: #2874f0;
}

.header_left{
  flex: 5;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 margin-left: 10rem;
}

.header_left > input {
  width: 20rem;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
}

.header_right{
  flex: 5;
  display: flex;
  justify-content: space-evenly;
}

.header_left > a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;

}

.header_items > a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.card-section{
  flex: 9;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.card-section > a{
  text-decoration: none;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 15rem;
  height: 40vh;
  border: 2px solid whitesmoke;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  transition: height 0.3s ease, z-index 0.3s ease;
  z-index: 1;
  position: relative;
  cursor: pointer;
  font-size: 12px;
  color: black;
}

.card:hover{
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 } 

.card> img{
  margin: 10px 0;
  width: 15rem;
  height: 30vh;
}

.card-content{
  display: flex;
  justify-content: space-between;
  margin: 1px;
}


.home-body{
  display: flex;
  background-color:whitesmoke;
}
.filter-section{
  flex: 1;
  width: 15rem;
  height: 40rem;
  margin: 1rem 10px;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

div.filter-section {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.category > p{
  cursor: pointer;
}

.category > p:hover{
  color: rgb(137, 136, 136);
}

.checkbox-label{
  text-Decoration:none;
  color:black;
}

.checkbox-label:hover{
  color: rgb(110, 110, 110);
}